@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #ffc93c;
  --text-color: #000000;
  --second-text: #ffffff;
  --second-color: #ffeeca;
  --bg-color: #f3f2f2;
  --h2-size:  3rem;
  --h2-weight: 1000;
}
/* navbar  */
.navbar {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.container-fluid,
.offcanvas {
  padding: 0.1% 1% 0.2%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: 7px;
  height: max-content;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: fixed;
  top: 0;
}
.offcanvas {
  background: var(--bg-color);
  right: 0;
  margin: 0;
}
.navbar-nav {
  display: flex;
  align-items: center;
  color: var(--second-text);
}
.logo {
  width: 100px;
  height: 60px;
}
.nav-item {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.dropdown-menu {
  background-color: var(--bg-color);
}
.dropdown-item i {
  padding-right: 10px;
}

/* nav hover animations */
.nav-link:hover {
  color: var(--text-color);
  transform: scale(1.2);
}
.dropdown-item:hover {
  background-color: var(--second-color);
}
/* icons on nav-items */
.icon {
  color: var(--main-color);
}

/* search  */
.d-flex {
  display: flex;
  align-items: center;
}
.search {
  border-radius: 5px;
}
.search:placeholder-shown {
  padding-left: 15px;
  transition: 1s ease;
}
.search:focus {
  outline-color: var(--main-color);
}
.search-btn {
  margin-right: 3px;
  background-color: var(--main-color);
  border: var(--main-color);
}
.search-btn:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.form-control:focus {
  border-color: var(--main-color);
  box-shadow: 1px 1px 1px 1px var(--main-color);
}

/* hero section  */
.hero {
  /* height: 100vh; */
  position: relative;
  background-color: var(--bg-color);
  background: url(images/hero-img.png) center/cover fixed;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  z-index: 1;
}
.hero-container {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 10% 10%;
  column-gap: 2rem;
  z-index: 1;
}

.hero-img {
  height: 450px;
  width: 600px;
  position: relative;
}
.hero-img > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 500px;
}
.hero-text > h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--main-color);
}
.hero-text > p {
  font-size: 1rem;
  padding: 0 3rem 0 0;
  color: var(--second-text);
}

.btn {
  width: fit-content;
  padding: 5px 30px;
  margin: 0;
  border: 3px solid var(--second-text);
  border-radius: 5px;
  background: var(--main-color);
  transition: 1s ease;
}
.btn:hover {
  background-color: var(--main-color);
  border: 3px solid var(--second-text);
  transform: skewX(-20deg);
}
/* about us section  */
.about-us{
    text-align: center;
    background-color: var(--second-text);
}
.about-us-wrapper{
    padding-top:5% ;
    margin: 0 10%;
}
.about-us-wrapper > h2{
 font-size: 3rem;
 font-weight: 1000;

}
.about-us-header{
    font-size: 1.3rem;
    padding: 0 3rem;
    
}
.about-us-body{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    /* flex-wrap: wrap; */
}
.about-us-img{
    flex-grow: 1;
    width: 500px
}
.about-us-img> img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.about-us-text{
    width: 500px;
    flex-grow: 1;

}
.AB-card > h4{
 color: var(--main-color); 
 font-size: 1.5rem;
 font-weight: 700;
}
.AB-card > p{
    text-align: center;
    font-size: 1rem;
}
/* download section  */
.download-section {
  background-color: var(--second-text);
  margin: 0;
  padding-bottom: 5%;
}
.download-section-holder {
  margin: 0 10%; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.download-section h2 {
  text-align: center;
  padding: 30px 30px;
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  color: var(--text-color);

}


.card-holder {
  margin: 20px;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 320px;
  height: 250px;
  flex-grow: 1;
  padding: 20px;
  background-color: var(--main-color);
  transition: all 0.5s ease-in;
}
.card:hover {
    cursor: pointer;
    background: var(--main-color);
    box-shadow:  26px 26px 53px var(--second-text), -26px -26px 53px var(--second-text);
    transform: scale(1.04);
}
.card-text {
  text-align: center;
  padding: 30px 20px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
}
.card img:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* markting section 1*/
.marketing-section {
    background: url(images/2021.jpg)   center/cover;
    position: relative;
    }
    .marketing-section::before, .marketing-section-2::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5); 
    }
    
    .marketing-container{
        position: relative;
        display: flex;
        flex-direction: column;
        padding:3rem  0 3rem 6rem;
        margin: 0 50% 0 5rem;
        z-index: 100;
    }
    .marketing-container a, .marketing-container-2 a{
        font-size: 2rem;
        text-decoration: none;
        color: var(--second-text);
        font-weight: 600;
        color:var(--second-text) ;
    }
    .marketing-container a:nth-child(2){
        margin:0 45% 2rem 0;
    }
    .marketing-container button, .marketing-container-2 button{
        
        padding: 0.5rem 1.3rem;
        margin:0 auto 0 0 ;
        border-radius: 5px;
        transition: 1s ease;
        width: fit-content;
        padding: 5px 30px;
        margin: 0;
        border: 3px solid var(--second-text);
        border-radius: 5px;
        background: var(--main-color);
        transition: 1s ease;
    
    }
    .marketing-container button:hover,.marketing-container-2 button:hover{
        background-color: var(--main-color);
            border: 3px solid var(--second-text);
            transform: skewX(-20deg);
    }
    
    /* markting section 2*/
    .marketing-section-2{
            background: url(images/earth.jpg) center/cover;
            position: relative;
    }
    
    .marketing-container-2{
        position: relative;
        display: flex;
        flex-direction: column;
        padding:3rem  0 3rem 6rem;
        margin: 0 50% 0 5rem;
        z-index: 100;
    }
    
    .marketing-container-2 a:nth-child(2){
        margin:0 0.7rem 2rem 0;
    }
    /* services */
.services{
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.services h2{
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
}
.services-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3% 10%;
  text-align: center;
  row-gap: 2rem;
}
.services-items{
  padding:5px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 280px;
  min-height: 240px;
  border: 1px solid #888;    
}
.services-items a:nth-child(1) img{
  max-width: 120px;
  max-height: 120px;
  background-color: var(--text-color);
  border-radius: 50%;
  padding: 10px;
}
.services-items a:nth-child(1):hover{
  opacity: 0.5;
}
.services-items a:nth-child(2){
  font-size: 1.1rem;
  margin-top: 0.5rem;
 text-decoration: none;
 color: var(--text-color);
 transition: 1s ease;
}
.services-items a:nth-child(2):hover{
  color: var(--main-color);
  transform:scale(1.1);
}
.hide{
  display: flex;
  flex-direction: column;
}
/* works section  */

.works{
  padding:3% 0;
  text-align: center;
  background-color: var(--main-color);
}
.works h2{
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  margin-bottom: 50px ;
}
.carousel{
  margin:0 auto ;
  padding: 0; 
 overflow: hidden;
 width: 25vw;
 position: relative;
}
.carousel-item{ 
  display: block;
  margin: 0 auto;
  transition: all .5s ease;
  cursor: pointer;
}
.carousel-item img{
  display: block;
    width: 100%;
    height: 100%;
    object-fit:fill;
    object-position: center;
}
.works >h3{
  padding: 2rem 0;
  font-weight: 600;
}
.overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 246, 246, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}
.overlay > p{
 color:var(--text-color);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px;
}
.overlay:hover{
  opacity: 1;
}
/* clients section  */
.clients{
  padding-top: 3%;
  text-align: center;
background-color: var(--bg-color);
 
}
/* .client-container */
.clients{
  padding-bottom: 1rem;
}
.clients > h2{
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
}  
.client-container, .new-client{
  position: relative;
  margin: 5% 10% 1px 10%;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--second-text);

}
.client-container::before, .new-client::before{
  position: absolute;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  top: 0;
  left: 0;
  z-index: 2;
  width: 100px;
  height: 100%;
  content: '';
}
.client-container::after, .new-client::after{
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  right: 0;
  z-index: 2;
  width: 100px;
  height: 100%;
  content: '';
}
.client-wrapper{
  display: inline-block;
  animation: 150s scroll infinite linear;
 }
.client-wrapper img,   .new-client-wrapper img{
  height: 200px;
  max-width: 300px;
  margin:0 40px;
 
}
.client-container:hover .client-wrapper, .new-client:hover .new-client-wrapper{
  animation-play-state: paused;
}

@keyframes scroll{
  from{
   transform: translate(0);
  }
  to{
   transform: translate(-100%);
  }
   
 }
.new-client{
position: relative;
margin: 0 10%;
overflow: hidden;
white-space: nowrap;
background-color: var(--second-text);
}
.new-client-wrapper{
    display: inline-block;
    animation: 100s scrolls infinite linear;
    }
    
    @keyframes scrolls{
      from{
       transform: translate(-100%);
      }
      to{
       transform: translate(0);
      }
       
     }

/* for smaller screens  */
@media (max-width: 900px) {
  .navbar-nav {
    display: block;
  }
  .nav-link {
    margin: 0.5rem 0;
    width: fit-content;
    padding: 5px;
    font-size: 1rem;
    color: var(--text-color);
  }
  .nav-item {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* hero section  */

  .hero-container {
    padding-top: 3rem;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    /* width: 500px; */
  }
  .hero-text > h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
  }
  /* about us section  */
  .about-us-header{
    padding: 0 ;
    
}
  .about-us-body{
    flex-wrap: wrap;
}
  /* marketing section  */
  .marketing-container, .marketing-container-2{
    margin: 10px;
}
.marketing-container-2 button{
margin:0 auto 0 0 ; ;
}

/* .services section  */
.services-content{
  margin: 3%;
}
.services-items{
  width: 180px;
}
.services-items a:nth-child(1) img{
  max-width: 80px;
  max-height: 80px;
  object-position: center;
  object-fit: cover;
  padding: 5px;
}
/* work section   */
.carousel{
  margin:0 auto ;
  padding: 0; 
 overflow: hidden;
 width: 35vw;
 position: relative;
}
.carousel-item{ 
  margin: auto;
  object-fit: contain;
  object-position:bottom;
  transition: all .5s ease;

}

}
/* moblie screen  */
@media (max-width:450px){
  .services-items{
    padding:10px ;
    width: 180px;
    height: 120px;
    border: 1px solid #888;    
  } 
}